* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: #e5e5e5;
  padding-top: 46px;
}
.header {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #0050b3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.header-block {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.m-menu {
  border: none;
  width: 32px;
  height: 32px;
  background-color: transparent;
  padding: 0;
  flex-direction: column;
  justify-content: space-around;
  display: none;

  color: #0050b3;
}
.m-menu .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.search-input {
  font-size: 14px;
  line-height: 22px;
  padding: 5px 30px 5px 12px;
  width: 336px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
}
.user {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
}
.user-name {
  color: #ffffff;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-panel {
  display: flex;
  align-items: center;
}
.navigation-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  margin-left: 12px;
  display: flex;
  align-items: center;
}
.navigation-link:before {
  content: "";
  width: 1px;
  height: 16px;
  background: #003a8c;
  margin-right: 12px;
}
.navigation-link:last-child::after {
  content: "";
  width: 1px;
  height: 16px;
  background: #003a8c;
  margin-left: 12px;
}
.icons-panel {
  display: flex;
  align-items: center;
}
.icon-link {
  margin-left: 17px;
  display: flex;
  align-items: center;
  position: relative;
}
.notification {
  position: absolute;
  background: #f5222d;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 16px;
  color: #ffffff;
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -12px;
  top: -8px;
}

.header-icon {
  fill: #002766;
}
.header-icon:hover,
.header-icon-notification {
  fill: #ffffff;
}
.icon-link:nth-last-child(2)::before {
  content: "";
  width: 1px;
  height: 16px;
  background: #003a8c;
  margin-right: 12px;
}
.icon-link:last-child {
  margin-left: 6px;
}
/* /.header */
.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.menu-sidebar {
  max-width: 192px;
  width: 100%;
  margin-top: 16px;
}
.menu-sidebar .user {
  padding-left: 8px;
}
.menu-sidebar .user-avatar {
  width: 24px;
  height: 24px;
}
.menu-sidebar .user-name {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}
.nav-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 24px;
}
.nav-link,
.nav-links {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
  text-decoration: none;
  color: #595959;
  font-size: 14px;
  line-height: 22px;
}
.nav-link.active,
.nav-links.active {
  background: #ffffff;
  color: #262626;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
.container-icon:last-child {
  margin-left: auto;
}
.nav-text {
  padding-left: 8px;
}
.nav-title {
  font-size: 12px;
  line-height: 20px;
  color: #262626;
  margin-bottom: 4px;
  margin-top: 0;
  padding-left: 10px;
  font-weight: 600;
}
.caret-down {
  margin-top: 12px;
}
.caret-down .nav-text {
  color: #1890ff;
  padding-left: 12px;
}
/* /.menu-saidebar */
.main-feed {
  max-width: 588px;
  width: 100%;
  margin-top: 16px;
  flex-grow: 1;
  margin-left: 18px;
}
.no-scroll {
  overflow: hidden;
}
.create-post {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
}
.create-post-header {
  padding: 9px 16px;
  background: #f5f5f5;
}
.create-post-title {
  margin: 0;
  color: #595959;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
.create-post-body {
  padding-top: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: flex-start;
}
.create-post-input {
  width: 100%;
  padding-top: 8px;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow: auto;
}
.create-post-footer {
  display: flex;
  align-items: center;
  padding: 0 16px 16px 16px;
  flex-wrap: wrap;
}
.create-post-footer:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e8e8e8;
  margin-bottom: 16px;
}
.create-post-tag {
  background: #f5f5f5;
  border-radius: 48px;
  border: none;
  padding: 9px 12px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.tag-icon {
  margin-right: 8px;
}
.main-feed .tag-icon:last-child {
  margin-right: 0;
}
.post {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 16px 0;
  padding: 16px;
}
.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.post-autor {
  color: #0050b3;
}
.post-header-button {
  background-color: #fff;
  border: none;
}
.post-header .user-avatar {
  width: 48px;
  height: 48px;
  min-width: 48px;
  margin-right: 12px;
}
.post-info {
  display: flex;
  flex-wrap: wrap;
}
.post-author {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
  text-decoration: none;
}
.post-time {
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
}
.post-time:after {
  display: inline-block;
  content: "";
  height: 4px;
  width: 4px;
  background-color: #bfbfbf;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 6px;
  vertical-align: middle;
}
.post-info-time {
  display: flex;
  align-items: center;
}
.setting-icon {
  vertical-align: middle;
}
.post-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-bottom: 16px;
}
.post-text a {
  color: #096dd9;
  text-decoration: none;
}
.post-image {
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  min-width: 100%;
}
.likes {
  margin-top: 9px;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
}
.likes-counter {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-left: 4px;
}
.likes-icon {
  fill: #1890ff;
}
.post-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.post-button {
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
}
.post-button-text {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  font-weight: 400;
  margin-left: 8px;
}
.post-button-icon {
  fill: #595959;
}
.post-footer:before {
  content: "";
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid #e8e8e8;
}
.right-sidebar {
  max-width: 384px;
  width: 100%;
  margin-left: 24px;
  margin-top: 16px;
}
.stories {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px;
  padding-left: 24px;
}
.stories-icon {
  fill: #0050b3;
}
.stories-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.stories-title {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}
.stories-button {
  display: flex;
  align-items: center;
}
.stories-button-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
  text-decoration: none;
}

.stories-button-link:first-child:after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #bfbfbf;
  border-radius: 50%;
  display: inline-block;
  margin: 0 8px;
  vertical-align: middle;
}
.stories-icon {
  vertical-align: sub;
}
.story-item,
.story-item-add {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 16px;
}
.story-image {
  width: 48px;
  height: 48px;
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  flex-shrink: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #1890ff;
  margin-right: 12px;
}
.story-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
  width: 100%;
  display: block;
}
.story-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
  width: 100%;
  word-wrap: break-word;
}
.figma {
  background-image: url(../img/figma-avatar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  block-size: cover;
  border: 3px solid #1890ff;
}
.concuria {
  background-image: url(../img/concuria-avatar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  block-size: cover;
  border: 3px solid #1890ff;
}
.ant-design {
  background-image: url(../img/ant-design-avatar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  block-size: cover;
  border: 3px solid #1890ff;
}
.story-caret-down {
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #0050b3;
  text-decoration: none;
  font-weight: normal;
}
.story-link-text {
  padding-left: 12px;
}
.b-day {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 16px;
  padding: 16px;
}
.b-day-info {
  display: flex;
  align-items: center;
}
.b-day-icon {
  margin-right: 8px;
}
.b-day-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
  text-decoration: none;
}
.b-day-text {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.fanpage {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 16px;
}
.fanpage-header {
  padding: 9px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}
.fanpage-header-button {
  background-color: #fff;
  border: none;
}
.fanpage-title {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #595959;
}
.fanpage-button-icon {
  fill: #595959;
  vertical-align: middle;
}
.fanpage-stats {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
}
.fanpage-stats:after {
  content: "";
  width: 100%;
  border: 1px solid #d9d9d9;
  margin-top: 23px;
}
.fanpage-stats-title {
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #0050b3;
  display: block;
  padding-bottom: 4px;
}
.fanpage-stats-image {
  width: 48px;
  height: 48px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  justify-content: center;
  margin-right: 12px;
}
.fanpage-stats-group {
  padding-bottom: 1px;
}
.fanpage-stats-link {
  display: block;
  display: flex;
  text-decoration: none;
  align-items: center;
}
.fanpage-stats-link-text {
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
  padding-left: 4px;
  padding-right: 5px;
}
.fanpage-stats-link-notifications {
  width: 17px;
  height: 22px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #595959;
  /* Rectangle */
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
}
.fanpage-radio-group {
  overflow: hidden;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  display: flex;
}
.fanpage-radio-group-item {
  display: inline-block;
}
.radio-button {
  display: none;
}
.label-radio-button {
  color: #595959;
  align-items: center;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  /* Rectangle */
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;

  display: inline-block;
  cursor: pointer;
  user-select: none;

  padding: 8px 16px;
  width: 109px;
}

.fanpage-radio-group-item:first-child .label-radio-button {
  border-radius: 4px 0 0 4px;
  border-right: none;
}
.fanpage-radio-group-item:last-child .label-radio-button {
  border-radius: 0 4px 4px 0;
  border-left: none;
}
.radio-button:checked + .label-radio-button {
  color: #1890ff;
  border: 1px solid #1890ff;
  box-sizing: border-box;
}
.fanpage-likes,
.fanpage-views,
.fanpage-posts {
  /* display: grid; */
  display: none;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
}
.fanpage-likes.active,
.fanpage-views.active,
.fanpage-posts.active {
  display: grid;
}
.fanpage-likes-count,
.fanpage-views-count,
.fanpage-posts-count {
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  color: #262626;
}
.fanpage-likes-this-week,
.fanpage-views-this-week,
.fanpage-posts-this-week {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
}

@media (max-width: 1250px) {
  .header-block {
    width: 95%;
  }
  .container {
    justify-content: flex-start;
    width: 95%;
  }
  .menu-sidebar {
    min-width: 166px;
  }
  .main-feed {
    margin-left: 14px;
    min-width: 507px;
  }
  .button-text {
    font-size: 14px;
    line-height: 22px;
  }
  .tag-icon {
    width: 22px;
    height: 22px;
    margin-right: 6px;
  }
  .post-image {
    width: 100%;
  }
  .right-sidebar {
    margin-left: 14px;
    min-width: 253px;
  }
  .stories-icon {
    width: 15px;
    height: 15px;
  }
  .stories-button-link {
    font-size: 13px;
  }
  .stories-button-link:first-child::after {
    margin: 0 4px;
  }
  .fanpage-radio-group {
    justify-content: center;
  }
  .label-radio-button {
    width: auto;
  }
}
@media (max-width: 991px) {
  .navigation .user-name,
  .right-sidebar {
    display: none;
  }
  .search-input {
    width: 249px;
  }
  .navigation .user-avatar {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .container {
    width: 97%;
  }
  .navigation-panel {
    display: none;
  }
  .navigation .user::after {
    content: "";
    width: 1px;
    height: 16px;
    background: #003a8c;
    margin-left: 12px;
  }
  .menu-sidebar {
    min-width: 126px;
  }
  .nav-group .nav-text {
    font-size: 12px;
    line-height: 20px;
  }
  .nav-text {
    padding-left: 5px;
  }
  .nav-link {
    padding: 4px 2px;
  }
  .menu-sidebar .user {
    padding-left: 4px;
  }
  .menu-sidebar .user-avatar {
    margin-right: 5px;
  }
  .menu-sidebar .user-name {
    line-height: 17px;
  }
  .main-feed {
    margin-left: 10px;
    min-width: 423px;
  }
  .create-post-input {
    font-size: 15px;
  }
  .create-post-tag {
    padding: 9px 8px;
    margin-right: 5px;
  }
  .button-text {
    font-size: 12px;
    line-height: 20px;
  }
  .tag-icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 95%;
    margin: auto;
  }
  .navigation {
    justify-content: space-between;
    width: 90%;
    margin-left: 10px;
  }
  .navigation .user::after,
  .button-text,
  .search {
    display: none;
  }
  .menu-sidebar .user {
    padding-left: 0;
  }
  .main-feed {
    margin-left: 0;
    min-width: 356px;
  }
  .tag-icon {
    margin-right: 0;
  }
  .menu-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    padding-right: 10px;
    background-color: #f1f1f1;
    padding-top: 12px;
    /* height: 100%; */
    margin-top: 46px;
    padding-left: 2.5%;
    transform: translateX(-100%);
    transition: transform 0.2s;
  }
  .menu-sidebar.active {
    transform: translateX(0%);
    overflow: scroll;
  }
  .m-menu {
    display: flex;
  }
}
@media (max-width: 374px) {
  .container {
    width: 90%;
  }
  .navigation .user-avatar,
  .post-button-text {
    display: none;
  }
  .main-feed {
    margin-left: 0;
    min-width: 80%;
  }
}
